@model StoresManager.ViewModels.StoreViewModel

@{
    ViewData["Title"] = "Detalhe da Loja";
}

<h1>@Model.Name</h1><hr>

<p><strong>Id:</strong> @Model.Id</p>
<p><strong>Piso do Shopping:</strong> @Model.Floor</p>
<p><strong>Descrição:</strong> @Model.Description</p>
<p><strong>Tipo:</strong> @Model.Type</p>
<p><strong>E-mail:</strong> @Model.Email</p>

<p><a href="/Store/Delete/@Model.Id">Excluir</a></p>
